{%extends '__base__.html'%} 
{% load crispy_forms_tags %}

{% block content %}


<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-primary mt-2">Login</button>
                    </div>
                    <div class="col-lg-6">
                        <a href="{% url 'register' %}">I don't have an account?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}